{% trans_default_domain("avito-board.admin") %}

<p>
    Общее значение для всех продуктов в данной категории
</p>

<a href="https://www.avito.ru/web/1/autoload/user-docs/category/67016/field/110431/values-xml">
    пример значение</a>